---
layout: page
---

{{ content }}
<br><br>

<div style="text-align:center">
<h4>ಸಾವಯವ ಕೃಷಿ</h4>
</div>
<ul>
    <li>ಹಣ್ಣಿನ ಮರಗಳು- ಹಲಸಿನ ಮರ, ಮಾವಿನ ಮರ, ತೆಂಗಿನ ಮರಗಳು</li>
    <li>ಋತುವಿನಲ್ಲಿ ಬೆಳೆಯುವ ಬೆಳೆಗಳು - ಸೋಯಾಬೀನ್, ಜೋಳ</li>
    <li>ದೀರ್ಘಕಾಲಿಕ ಖಾದ್ಯ ಬಳ್ಳಿ -  Malabar spinach (ಬಸಳೆ)</li>
  </ul>  
  <div style="text-align:center">
  
<h4>ಮರುಬಳಕೆ</h4>
</div>
<ul>
    <li>ಸಸ್ಯ ತ್ಯಾಜ್ಯವನ್ನು ಕೋಳಿಗಳಿಗೆ ಆಹಾರವಾಗಿ ಮರುಬಳಕೆ ಮಾಡುವುದು</li>
    <li>ಮಳೆ ನೀರು ಕೊಯ್ಲು</li>
    <li>ಸೌರಶಕ್ತಿ ಶೀಘ್ರದಲ್ಲೇ ಬರಲಿದೆ</li>
</ul>

<div style="text-align:center">

<h4>ಮೂಲಸೌಕರ್ಯ</h4>
</div>
<ul>
    <li>ಕೋಳಿ ಫಾರ್ಮ್ - 1000 ಸಾಮರ್ಥ್ಯ</li>
    <li>ಶೇಖರಣೆಯ ಸ್ಥಳ</li>
    <li>ಕಚೇರಿ / ನಿವಾಸ</li>
</ul>

<div style="text-align:center">

<a class="weatherwidget-io" href="https://forecast7.com/en/15d8275d67/kuruvinakoppa/" data-label_1="KURUVINAKOPPA" data-label_2="WEATHER" data-theme="original" >KURUVINAKOPPA WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</div>