---
layout: page
---

{{ content }}
<br><br>

<div style="text-align:center">
<h4>ಸಾವಯವ ಕೃಷಿ</h4>
</div>
<ul>
    <li>ಋತುವಿನಲ್ಲಿ ಬೆಳೆಯುವ ಬೆಳೆಗಳು - ಸೋಯಾಬೀನ್, ಜೋಳ</li>
        <ul>
            <li><a href="https://slabstech.com/raita/blog/grow-soybean/">ಸೋಯಾಬೀನ್ ಬೆಳೆಯುವ ವಿಧಾನ</a></li>
            <li><a href="https://slabstech.com/raita/blog/grow-corn/">ಜೋಳ ಬೆಳೆಯುವ ವಿಧಾನ</a></li>
        </ul>
    <li>ದೀರ್ಘಕಾಲಿಕ ಖಾದ್ಯ ಬಳ್ಳಿ -  Malabar spinach (ಬಸಳೆ)</li>
    <li>ಹಣ್ಣಿನ ಮರಗಳು- ಹಲಸಿನ ಮರ, ಮಾವಿನ ಮರ, ತೆಂಗಿನ ಮರಗಳು</li>
    <a href="https://slabstech.com/raita/blog/operate-poultry/">ಕೋಳಿ ಸಾಕಣೆಯ ವಿಧಾನ</a>
  </ul>  
  <div style="text-align:center">
  
<h4>ಮರುಬಳಕೆ</h4>
</div>
<ul>
    <li>ಕೋಳಿ ಗೊಬ್ಬರವನ್ನು ಕೃಷಿಗೆ ಬಳಸಲಾಗುತ್ತದೆ</li>
    <li>ಮಳೆ ನೀರು ಕೊಯ್ಲು</li>
    <li>ಸೌರಶಕ್ತಿ ಶೀಘ್ರದಲ್ಲೇ ಬರಲಿದೆ</li>
    <a href="https://slabstech.com/raita/blog/operating-infrastructure/">ಕಾರ್ಯಾಚರಣೆಯ ಮೂಲಸೌಕರ್ಯ</a>
</ul>

<a class="weatherwidget-io" href="https://forecast7.com/en/15d8275d67/kuruvinakoppa/" data-label_1="KURUVINAKOPPA" data-label_2="WEATHER" data-theme="original" >KURUVINAKOPPA WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</div>